---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "erxma - stuff";
---

<BaseLayout pageTitle={pageTitle}>
    <div id="center-container">
        <p>Will be putting various things to play with here...</p>
    </div>
</BaseLayout>

<style>
    #center-container {
        display: flex;
        justify-content: center;
    }
</style>
