---
import "@styles/global.css";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
    <nav>
        <a href="/">home</a>
        <a href="/projects"> projects</a>
    </nav>
    <ThemeToggle />
</header>

<style>
    nav,
    nav a {
        display: flex;
        align-items: center;
        column-gap: 1em;

        font-size: large;
        color: var(--text-default);
    }
    :global(.dark) nav a {
        color: var(--text-default-dark);
    }

    header {
        display: flex;
        justify-content: right;
        column-gap: 1em;
        margin-bottom: 1em;
    }
</style>
